{% extends 'base.html.twig' %}

{% block title %}New NomSport{% endblock %}

{% block body %}
    <h1>Create new NomSport</h1>

    {{ include('nom_sport/_form.html.twig') }}

    <a href="{{ path('app_nom_sport_index') }}">back to list</a>
{% endblock %}
