<form method="post" action="{{ path('app_epreuve_competition_delete', {'id': epreuve_competition.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ epreuve_competition.id) }}">
    <button class="btn">Delete</button>
</form>
