{% extends 'base.html.twig' %}

{% block title %}EpreuveCompetition index{% endblock %}

{% block body %}
    <h1>EpreuveCompetition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for epreuve_competition in epreuve_competitions %}
            <tr>
                <td>{{ epreuve_competition.id }}</td>
                <td>
                    <a href="{{ path('app_epreuve_competition_show', {'id': epreuve_competition.id}) }}">show</a>
                    <a href="{{ path('app_epreuve_competition_edit', {'id': epreuve_competition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_epreuve_competition_new') }}">Create new</a>
{% endblock %}
