{% extends 'base.html.twig' %}

{% block title %}EpreuveCompetition{% endblock %}

{% block body %}
    <h1>EpreuveCompetition</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ epreuve_competition.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_epreuve_competition_index') }}">back to list</a>

    <a href="{{ path('app_epreuve_competition_edit', {'id': epreuve_competition.id}) }}">edit</a>

    {{ include('epreuve_competition/_delete_form.html.twig') }}
{% endblock %}
